<!DOCTYPE html>
<html>
<head>
    <title>Survey Master</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../static/css/tsyles.css">

</head>
<body>
    <div class="card">
        <h1>Survey Designer HomePage</h1>
        <button id="generateSurvey" class="submit-btn">Generate a Survey</button>
        
        <h2>List of Surveys</h2>
        <div id="surveylist">
            No surveys yet!
            
        </div>
        
    </div>

    <script src="../static/js/index.js"></script>
    
</body>
</html>