<!DOCTYPE html>
<html>
<head>
    <title>Survey Master</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../static/css/tsyles.css">

</head>
<body>
    <div class="card">
        <h1>Survey Designer</h1>
        <input type="text" id="userQuestion" class="question-input" placeholder="Enter your research question...">
        <input type="text" id="numQuestions" class="question-input" placeholder="Number of questions">
        <button id="a-btn" class="submit-btn">Design Your Survey</button>
        <div id="answer" class="answer" style="display: none;"></div>
        
    </div>

    <script src="../static/js/main.js"></script>
    
</body>
</html>